div {
    border: 2px solid yellow;
    height: 100px;
    width: 100px;
}

* {
    margin: 0px;
    padding: 0px;
}

@media (max-width: 300px) {
    div {
        background-color: green;
    }
}


@media (min-width: 300px) and (max-width: 400px) {
    div {
        background-color: pink;
    }
}

@media (min-width: 400px) and (max-width: 600px) {
    div {
        background-color: red;
    }
}

@media (min-width: 600px) {
    div {
        background-color: blue;
    }
}