body {
    text-align: center;
}

.box {
    height: 100px;
    width: 200px;
    border: 2px solid black;
    display: inline-block;
}

#container {
    height: 300px;
    width: 600px;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: flex-start;
    /* align-content: flex-end; */
}

#box1 {
    background-color: aqua;

}

#box2 {
    background-color: pink;
    height: 200px;
    flex-shrink: 2;
}

#box3 {
    background-color: rgb(182, 182, 42);
    height: 75px;
}

#box4 {
    background-color: red;
}

#box5 {
    background-color: blueviolet;

}