#container {
    height: 200px;
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box {
    height: 50px;
    width: 50px;
    display: inline-block;
    border: 2px solid black;
}

#box1 {
    background-color: aqua;
}

#box2 {
    background-color: pink;
}

#box3 {
    background-color: rgb(146, 146, 21);
}

#box4 {
    background-color: rgb(167, 43, 43);
}

#box5 {
    background-color: blueviolet;
}

body {
    text-align: center;
}