div {
    height: 100px;
    width: 100px;
    background-image: url("cat.jpg");
    background-size: cover;
    color: white;
    position:fixed;
    right: 0px;
    /* bottom: 0px; */
}

p {
    text-align: justify;
}